         <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">My Blog</h1>
        <p class="lead blog-description">This blog was created and integrated with bootstrap. It houses the progress of my learning in blog-form.</p>

          <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
        <span>
          <%= link_to "Topics", topics_path %>
        </span>
      </div>
    </div>