<h1>About Me</h1>
<p>Ryan Nygard was raised in the small town of Rigby, Idaho. Coming from a diverse work experience, such as: Pest Control, Lawn Care, Retail, and Food Handling. Ryan continued his education in college until he obtained an associates in Finance, then after self teaching himself java he continued to learn programming through Bottega, where he is a recent graduate.</p>
