<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "Picture_me.png", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>Ryan Nygard was raised in the small town of Rigby, Idaho. Coming from a diverse work experience, such as: Pest Control, Lawn Care, Retail, and Food Handling. Ryan continued his education in college until he obtained an associates in Finance, then after self teaching himself java he continued to learn programming through Bottega, where he is a recent graduate.</p>

    <p>This website was created by Ryan as a school project during the spring of 2017.</p>
  </div>

</div>
