<div class="container">
  <div class="row">
    
      <div class="col-md-6">

        <h1>Contact Me</h1>
        <p>Phone number: <%= number_to_phone "2087576705" %></p>

        <p><a href="mailto:nygardryan32@gmail.com?subject=PortfolioContact" "email me">Email me at: nygardryan32@gmail.com</a></p>
            

        </div>
        <div class="col-md-6">
          
        <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.85650317602!2d-111.66802264950017!3d40.2567202792828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d909e26c913ff%3A0xa0915f3fe710adb4!2sThe+Branbury+Apartments!5e0!3m2!1sen!2sus!4v1493157468121" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
            
    </div>
  </div>
</div>  
