
<div class="inner cover">
  <h1 class="cover-heading">Welcome to Ryan Nygard's Portfolio!</h1>
  <p class="lead">Ryan Nygard is a nerdy junior ruby developer, this site houses many of his projects and insights. </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

